@page
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">MyExpense</h1>
    <p>Vui lòng đăng nhập bằng Google để tiếp tục.</p>
    <a class="btn btn-primary" href="/account/login">Đăng nhập bằng Google</a>
</div>
