@page
@model Microsoft.AspNetCore.Mvc.RazorPages.PageModel
@{
    ViewData["Title"] = "Access Denied";
}

<div class="text-center">
    <h1>Không có quyền truy cập</h1>
    <p>Bạn không có quyền truy cập trang này.</p>
    <a class="btn btn-primary" href="/">Về trang chủ</a>
</div>


