@page
@model Microsoft.AspNetCore.Mvc.RazorPages.PageModel
@{
    ViewData["Title"] = "Logout";
}

<div class="text-center">
    <h1>Đăng xuất</h1>
    <form method="post" action="/account/signout">
        <button class="btn btn-danger" type="submit">Đăng xuất</button>
    </form>
    <a class="btn btn-link mt-3" href="/">Về trang chủ</a>
</div>


