@page
@model Microsoft.AspNetCore.Mvc.RazorPages.PageModel
@{
    ViewData["Title"] = "Create an account";
}

<div class="text-center mt-5">
    <h4>Registration is handled via Google sign-in.</h4>
    <a class="btn btn-primary mt-3" href="/account/google">Continue with Google</a>
</div>


